{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %} " type="text/css">
    <title>{{title}}</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'home' %}">Main page</a></li>
        {% for el in menu %}
            <li>
                <a href="{% url el.url_name %}">{{el.name}}</a>
            </li>
        {% endfor %}
    </ul>
    <h1>{{title}}</h1>
    <p>{{title}}</p>


    {% block content %}    {% endblock %}


    
</body>
</html>